<% @page_title=t '.title' %>
<div class="container-full-width">

  <div id="map" class="map"></div>

  <div style="display: block;">
    <div id="popup" title=<%= t '.popup_title' %>></div>
  </div>


  <%= javascript_include_tag 'loadmap' %>

  <script type="text/javascript">
      var tubecamjson = <%=raw @poi_json_faked %>;
      var tubecamstyle = <%=raw @poi_style_faked %>;
      var longitude = <%= @longitude %>;
      var latitude = <%= @latitude %>;
      var zoom = <%= @zoom %>;
      loadMap(tubecamjson, tubecamstyle, zoom, longitude, latitude);
  </script>


</div>
