<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :firstname %>
    <%= f.text_field :firstname %>
  </div>

  <div class="field">
    <%= f.label :lastname %>
    <%= f.text_field :lastname %>
  </div>

    <div class="field">
      <%= f.label :spotter_role %>
      <%= f.check_box :spotter_role %>
    </div>

    <div class="field">
      <%= f.label :verified_spotter_role %>
      <%= f.check_box :verified_spotter_role %>
    </div>

    <div class="field">
      <%= f.label :trapper_role %>
      <%= f.check_box :trapper_role %>
    </div>

    <div class="field">
      <%= f.label :admin_role %>
      <%= f.check_box :admin_role %>
    </div>

    <div class="field">
      <%= f.label :active %>
      <%= f.check_box :active %>
    </div>

  <div class="actions">
    <%= f.submit 'Benutzer speichern', class: 'btn btn-primary' %>
  </div>
<% end %>
