<h1>Benutzerverwalten</h1>

<table class="table table-striped table-sm table-responsive table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Username</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Spotter</th>
      <th>Verified Spotter</th>
      <th>Trapper</th>
      <th>Admin</th>
      <th>Active</th>
      <% if can? :manage, User %>
        <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>

  <tfoot>
  <tr>
    <th>#</th>
    <th>Username</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Email</th>
    <th>Spotter</th>
    <th>Verified Spotter</th>
    <th>Trapper</th>
    <th>Admin</th>
    <th>Active</th>
    <% if can? :manage, User %>
        <th colspan="3"></th>
    <% end %>
  </tr>
  </tfoot>

  <tbody>
    <% @users.each do |user| %>

      <tr <%= !user.active ? ' class=deleted' : '' %> >
        <td><%= user.id %></td>
        <td><%= user.username %></td>
        <td><%= user.firstname %></td>
        <td><%= user.lastname %></td>
        <td><%= user.email %></td>
        <td><%= user.spotter_role ? '✔' : '-' %></td>
        <td><%= user.verified_spotter_role ? '✔' : '-' %></td>
        <td><%= user.trapper_role ? '✔' : '-' %></td>
        <td><%= user.admin_role ? '✔' : '-' %></td>
        <td><%= user.active ? '✔' : '-' %></td>
        <% if can? :manage, User %>
          <td><%= link_to 'Bearbeiten', edit_user_path(user) %></td>
        <% end %>
        <% if current_user.admin_role? %>
            <% if user.active? %>
                <td><%= link_to 'Deaktivieren', :controller => 'users', :action => 'deactivate', :id => user.id %></td>
            <% else %>
                <td><b><%= link_to 'Aktivieren', :controller => 'users', :action => 'activate', :id => user.id %></b></td>
            <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
