<h1><%= t '.title' %></h1>

<table class="table table-striped table-sm table-responsive table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t 'activerecord.attributes.user.username' %></th>
      <th><%= t 'activerecord.attributes.user.firstname' %></th>
      <th><%= t 'activerecord.attributes.user.lastname' %></th>
      <th><%= t 'activerecord.attributes.user.email' %></th>
      <th><%= t 'activerecord.attributes.user.spotter_role' %></th>
      <th><%= t 'activerecord.attributes.user.verified_spotter_role' %></th>
      <th><%= t 'activerecord.attributes.user.trapper_role' %></th>
      <th><%= t 'activerecord.attributes.user.admin_role' %></th>
      <th><%= t 'activerecord.attributes.user.active' %></th>
      <% if can? :manage, User %>
        <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>

  <tfoot>
  <tr>
    <th>#</th>
    <th><%= t 'activerecord.attributes.user.username' %></th>
    <th><%= t 'activerecord.attributes.user.firstname' %></th>
    <th><%= t 'activerecord.attributes.user.lastname' %></th>
    <th><%= t 'activerecord.attributes.user.email' %></th>
    <th><%= t 'activerecord.attributes.user.spotter_role' %></th>
    <th><%= t 'activerecord.attributes.user.verified_spotter_role' %></th>
    <th><%= t 'activerecord.attributes.user.trapper_role' %></th>
    <th><%= t 'activerecord.attributes.user.admin_role' %></th>
    <th><%= t 'activerecord.attributes.user.active' %></th>
    <% if can? :manage, User %>
        <th colspan="3"></th>
    <% end %>
  </tr>
  </tfoot>

  <tbody>
    <% @users.each do |user| %>

      <tr <%= !user.active ? ' class=deleted' : '' %> >
        <td><%= user.id %></td>
        <td><%= user.username %></td>
        <td><%= user.firstname %></td>
        <td><%= user.lastname %></td>
        <td><%= user.email %></td>
        <td><%= user.spotter_role ? '✔' : '-' %></td>
        <td><%= user.verified_spotter_role ? '✔' : '-' %></td>
        <td><%= user.trapper_role ? '✔' : '-' %></td>
        <td><%= user.admin_role ? '✔' : '-' %></td>
        <td><%= user.active ? '✔' : '-' %></td>
        <% if user.username != 'admin' && (can? :manage, User) %>
          <td><%= link_to (t 'action.edit'), edit_user_path(user) %></td>
        <% else %>
          <td></td>
        <% end %>
        <% if user.username != 'admin' && current_user.admin_role? %>
            <% if user.active? %>
                <td><%= link_to (t 'action.deactivate'), deactivate_user_path(id: user.id) %></td>
            <% else %>
                <td><b><%= link_to (t 'action.activate'), activate_user_path(id: user.id) %></b></td>
            <% end %>
        <% else %>
            <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
