<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @user.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user.lastname %>
</p>

<p>
  <strong>Spotter role:</strong>
  <%= @user.spotter_role %>
</p>

<p>
  <strong>Verified Spotter role:</strong>
  <%= @user.verified_spotter_role %>
</p>

<p>
  <strong>Trapper role:</strong>
  <%= @user.trapper_role %>
</p>

<p>
  <strong>Admin role:</strong>
  <%= @user.admin_role %>
</p>

<p>
  <strong>Active:</strong>
  <%= @user.active %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
