<p id="notice"><%= notice %></p>

<h1>Tubecamstations</h1>

<table>
  <thead>
    <tr>
      <th>Serialnumber</th>
      <th>Status</th>
      <th>User</th>
      <th>Description</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tubecamstations.each do |tubecamstation| %>
      <tr>
        <td><%= tubecamstation.serialnumber %></td>
        <td><%= tubecamstation.status %></td>
        <td><%= tubecamstation.user %></td>
        <td><%= tubecamstation.description %></td>
        <td><%= tubecamstation.active %></td>
        <td><%= link_to 'Show', tubecamstation %></td>
        <td><%= link_to 'Edit', edit_tubecamstation_path(tubecamstation) %></td>
        <td><%= link_to 'Destroy', tubecamstation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tubecamstation', new_tubecamstation_path %>
