<p id="notice"><%= notice %></p>

<p>
  <strong>Serialnumber:</strong>
  <%= @tubecamstation.serialnumber %>
</p>

<p>
  <strong>Status:</strong>
  <%= @tubecamstation.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @tubecamstation.user %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tubecamstation.description %>
</p>

<p>
  <strong>Active:</strong>
  <%= @tubecamstation.active %>
</p>

<%= link_to 'Edit', edit_tubecamstation_path(@tubecamstation) %> |
<%= link_to 'Back', tubecamstations_path %>
