<% @page_title=t '.title' %>

<h1><%= t '.title' %></h1>
<ul>
  <li><%= t '.instructions1' %>
    <%= link_to (t '.instructions4'), 'https://github.com/kaenzflo/tubecam/blob/master/README.md' %></li>
<ul>
  <li><%= t '.env_s3_host' %></li>
  <li><%= t '.env_s3_bucket' %></li>
  <li><%= t '.env_s3_access' %></li>
  <li><%= t '.env_s3_secret' %></li>
  <li><%= t '.env_ftp_host' %></li>
  <li><%= t '.env_ftp_user' %></li>
  <li><%= t '.env_ftp_pass' %></li>
  <li><%= t '.env_mail_user' %></li>
  <li><%= t '.env_mail_pass' %></li>
</ul>
<li><%= t '.instructions2'%><%= link_to (t '.instructions5'), 'https://github.com/kaenzflo/tubecam/blob/master/README.md#cronjob'%></li>
<li><%= t '.instructions3'%></li>
</ul>
<p><%= link_to (t 'tubecam_devices.index.title'), '/users/sign_in', class: 'btn btn-primary' %></p>