<% @page_title=t '.title' %>

<h1><%= t '.title' %></h1>
<p><%= t '.instructions1' %></p>
<ul>
  <li><%= t '.env_s3_host' %></li>
  <li><%= t '.env_s3_bucket' %></li>
  <li><%= t '.env_s3_access' %></li>
  <li><%= t '.env_s3_secret' %></li>
  <li><%= t '.env_ftp_host' %></li>
  <li><%= t '.env_ftp_user' %></li>
  <li><%= t '.env_ftp_pass' %></li>
  <li><%= t '.env_mail_user' %></li>
  <li><%= t '.env_mail_pass' %></li>
</ul>
<p><%= t '.instructions2'%></p>
<p><%= t '.instructions3'%></p>
<p><%= t '.instructions4'%></p>
<p><%= t '.instructions5'%></p>
<p><%= t '.instructions6'%></p>