<h1>Willkommen auf der Tubecam Startseite</h1>


<%= link_to 'User verwalten', users_path %> <br>
<%= link_to 'Tubecam Devices verwalten', tubecam_devices_path %> <br>
<%= link_to 'Media verwalten', media_path %> <br>


<h1>Login oder Registrieren</h1>
<% if user_signed_in? %>

    <%= link_to('Edit registration', edit_user_registration_path) %>
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>

<% else %>

    <%= link_to('Register', new_user_registration_path)  %>
    <%= link_to('Login', new_user_session_path)  %>

<% end %>
