<div class="row text-center">
  <h1 class="center-block">Willkommen auf der TubeCam-Startseite</h1>
</div>

<div class="row row-padding">
  <div class="teaser">
    <% @media.each do |medium| %>
        <% medium = Coordinates.wgs_to_ch(medium) %>
        <div class="item">
          <%= link_to image_tag(@cloud_resource_thumbnail_url + medium.filename_hash), sequence_path(medium.sequence_id) %>
          <div class="item-actions">
            <ul>
              <% if user_signed_in? %>
                  <li><%= link_to 'Annotieren', controller: 'annotations', action: 'specific', :id => medium.id %></li>
              <% end %>
              <li><%= link_to 'Tubecam', tubecam_device_path(medium.sequence.tubecam_device_id) %></li>
              <li><%= link_to 'Karte', maps_path(:longitude => medium.longitude, :latitude => medium.latitude) %></li>
            </ul>
          </div>
        </div>
    <% end %>
  </div>
</div>


<% if !user_signed_in? %>

    <div class="row row-padding row-margin bg-warning text-center">
        <h1>Citizen Science</h1>
        <p>Werde Teil des Projektes und hilf mit den Kleinraubtierbestand zu sichern.</p>
        <%= link_to('Registrieren', new_user_registration_path, class: 'btn btn-warning') %>
    </div>

<% end %>

<div class=" text-center col-sm-6">
  <div class="row row-padding row-margin bg-success">
        <h2>Galerie</h2>
      <p>Betrachte die aktuellsten Bilder aus der Wildnis.</p>
      <%= link_to('Anschauen', sequences_path, class: 'btn btn-success') %>
  </div>
</div>

<div class=" text-center col-sm-6">
  <div class="row row-padding row-margin bg-info">
    <h2>Karte</h2>
    <p>Lass dir auf der Swisstopo-Karte die Standorte der TubeCams anzeigen.</p>
    <%= link_to('Standorte anzeigen', maps_path, class: 'btn btn-primary') %>
  </div>
</div>