<div class="row text-center">
  <h1 class="center-block"><%= t '.title' %></h1>
</div>

<div class="row row-padding">
  <div class="teaser">
    <% @media.each do |medium| %>
        <% medium = Coordinates.wgs_to_ch(medium) %>
        <div class="item">
          <%= link_to image_tag(@cloud_resource_thumbnail_url + medium.filename_hash), sequence_path(medium.sequence_id) %>
          <div class="item-actions">
            <ul>
              <% if user_signed_in? %>
                  <li><%= link_to (t 'link_to.annotate'), controller: 'annotations', action: 'specific', :id => medium.id %></li>
              <% end %>
              <li><%= link_to (t 'link_to.tubecam'), tubecam_device_path(medium.sequence.tubecam_device_id) %></li>
              <li><%= link_to (t 'link_to.location'), maps_path(:longitude => medium.longitude, :latitude => medium.latitude) %></li>
            </ul>
          </div>
        </div>
    <% end %>
  </div>
</div>


<% if !user_signed_in? %>

    <div class="row row-padding row-margin bg-warning text-center">
        <h1><%= t '.citizen_science_heading' %></h1>
        <p><%= t '.citizen_science_text' %></p>
        <%= link_to((t 'action.register'), new_user_registration_path, class: 'btn btn-warning') %>
    </div>

<% end %>

<div class=" text-center col-sm-6">
  <div class="row row-padding row-margin bg-success">
        <h2><%= t '.gallery_heading' %></h2>
      <p><%= t '.gallery_text' %></p>
      <%= link_to((t 'action.show'), sequences_path, class: 'btn btn-success') %>
  </div>
</div>

<div class=" text-center col-sm-6">
  <div class="row row-padding row-margin bg-info">
    <h2><%= t '.map_heading' %></h2>
    <p><%= t '.map_text' %></p>
    <%= link_to((t 'link_to.locations'), maps_path, class: 'btn btn-primary') %>
  </div>
</div>