<% @page_title=t '.title' %>
<div class="row text-center">
  <h1 class="center-block"><%= t '.welcome_title' %></h1>
</div>

<div class="row row-padding">
  <div class="teaser">
    <% @media.each do |medium| %>
        <div class="item">
          <%= link_to image_tag(@thumbnail_url + medium.filename_hash), sequence_path(medium.sequence_id) %>
          <div class="item-actions">
            <ul>
              <% if user_signed_in? %>
                  <li><%= link_to (t 'link_to.annotate'), controller: 'annotations', action: 'specific', :id => medium.id %></li>
              <% end %>
              <li><%= link_to (t 'link_to.tubecam'), tubecam_device_path(medium.sequence.tubecam_device_id) %></li>
              <li><%= link_to (t 'link_to.location'), maps_path(:longitude => medium.longitude, :latitude => medium.latitude) %></li>
            </ul>
          </div>
        </div>
    <% end %>
  </div>
</div>


<% if !user_signed_in? %>

    <div class="row row-padding row-margin bg-warning text-center">
        <h1><%= t '.citizen_science_heading' %></h1>
        <p><%= t '.citizen_science_text' %></p>
        <%= link_to((t 'action.register'), new_user_registration_path, class: 'btn btn-warning') %>
    </div>

<% end %>

<div class=" text-center col-sm-6">
  <div class="row row-padding row-margin bg-success">
        <h2><%= t '.gallery_heading' %></h2>
      <p><%= t '.gallery_text' %></p>
      <%= link_to((t 'action.show'), sequences_path, class: 'btn btn-success') %>
  </div>
</div>

<div class=" text-center col-sm-6">
  <div class="row row-padding row-margin bg-info">
    <h2><%= t '.map_heading' %></h2>
    <p><%= t '.map_text' %></p>
    <%= link_to((t 'link_to.locations'), maps_path, class: 'btn btn-primary') %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="infoDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Schön, dass Sie uns besuchen!</h4>
      </div>
      <div class="modal-body">
        <p>Dies ist die Webapplikation zum <a href="https://www.zhaw.ch/iunr/tubecam">Projekt «TubeCam».</a>
          <b>Diese Webapplikation befindet sich aktuell in einer Testphase, die
          zugewiesenen Standorte der TubeCams sind fiktiv.</b></p>
        <p>Sie können sich gerne <%= link_to((t 'action.register'), new_user_registration_path, class: 'btn btn-warning') %>
          und dürfen beliebig Bilder annotieren!</p>
      </div>
      <div class="modal-footer remove-top">
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'jquery.cookie.min' %>

<script type="text/javascript">
    $(document).ready(function() {
        if ($.cookie('info_dialog') == null) {
            $('#infoDialog').modal('show')
            $.cookie('info_dialog', 'visited', { expires: 7 });
        }
    });
</script>