<h1><%= @tubecam_device.serialnumber %></h1>
<p><%= @tubecam_device.description %></p>

<h4>
  Besitzer <strong><%= User.find_by(id: @tubecam_device.user_id).username %></strong>
</h4>

<div class='text-right'>
  <%= link_to 'Galerie ', sequences_path(tubecam_device_id: @tubecam_device.id), class: 'btn btn-primary' %>
  <%= link_to 'Standort auf Karte anzeigen', maps_path(longitude: @tubecam_device.longitude, latitude: @tubecam_device.latitude), class: 'btn btn-primary' %>
</div>


<% if @sequences.empty? %>
  <h4>Es sind keine Medien dieser Tubecam vorhanden.</h4>
<% else %>

  <%= will_paginate @sequences %>

  <table class='table table-striped table-sm table-responsive table-hover'>
    <thead>
    <tr>
      <th>Sequenznr.</th>
      <th>Bilder</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @sequences.each do |sequence| %>
        <tr <%= sequence.deleted? ? 'class=deleted' : '' %>>
          <td><%= sequence.sequence_no %></td>
          <td>
            <% sequence.media.limit(5).each do |medium| %>
              <%= link_to image_tag(@cloud_resource_thumbnail_url + medium.filename_hash, size: '150x150'), sequence %>
            <% end %>
          </td>
          <td><%= link_to 'Details', sequence_path(sequence) %></td>
          <% if user_signed_in? && current_user.admin_role? %>
              <% if !sequence.deleted %>
                  <td><%= link_to 'Deaktivieren', deactivate_sequence_path(id: sequence.id) %></td>
              <% else %>
                  <td><b><%= link_to 'Aktivieren', activate_sequence_path(id:sequence.id) %></b></td>
              <% end %>
          <% end %>
        </tr>
    <% end %>
    </tbody>
  </table>

  <%= will_paginate @sequences %>

<% end %>

