<h1><%= @tubecam_device.serialnumber %></h1>
<p><%= @tubecam_device.description %></p>

<h4>
  <%= t '.owner' %> <strong><%= User.find_by(id: @tubecam_device.user_id).username %></strong>
</h4>

<div class='text-right'>
  <%= link_to (t 'link_to.gallery'), sequences_path(tubecam_device_id: @tubecam_device.id), class: 'btn btn-primary' %>
  <%= link_to (t 'link_to.location'), maps_path(longitude: @tubecam_device.longitude, latitude: @tubecam_device.latitude), class: 'btn btn-primary' %>
</div>


<% if @sequences.empty? %>
  <h4><%= t '.no_media' %></h4>
<% else %>

  <%= will_paginate @sequences %>

  <table class='table table-striped table-sm table-responsive table-hover'>
    <thead>
    <tr>
      <th><%= t 'activerecord.attributes.sequence.sequence_no' %></th>
      <th>Bilder</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @sequences.each do |sequence| %>
        <tr <%= sequence.deleted? ? 'class=deleted' : '' %>>
          <td><%= sequence.sequence_no %></td>
          <td>
            <% sequence.media.limit(5).each do |medium| %>
              <%= link_to image_tag(@cloud_resource_thumbnail_url + medium.filename_hash, size: '150x150'), sequence %>
            <% end %>
          </td>
          <td><%= link_to (t 'action.details'), sequence_path(sequence) %></td>
          <% if user_signed_in? && current_user.admin_role? %>
              <% if !sequence.deleted %>
                  <td><%= link_to (t 'action.deactivate'), deactivate_sequence_path(id: sequence.id) %></td>
              <% else %>
                  <td><b><%= link_to (t 'action.activate'), activate_sequence_path(id:sequence.id) %></b></td>
              <% end %>
          <% end %>
        </tr>
    <% end %>
    </tbody>
  </table>

  <%= will_paginate @sequences %>

<% end %>

