<p>
  <strong>Serialnumber:</strong>
  <%= @tubecam_device.serialnumber %>
</p>

<p>
  <strong>User ID:</strong>
  <%= User.find_by(id: @tubecam_device.user_id).username %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tubecam_device.description %>
</p>


<table>
  <thead>
  <tr>
    <th>#</th>
    <th>Bild</th>
    <th>Pfad</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @media.each do |medium| %>
      <tr>
        <td><%= medium.id %></td>
        <td><%= link_to image_tag(@cloud_resource_thumbnail_url + medium.filename_hash), medium %></td>
        <td><%= medium.original_filename %></td>
        <td><%= link_to 'Edit', edit_medium_path(medium) %></td>
      </tr>
  <% end %>
  </tbody>
</table>
