<%
  def tubecam_owner tubecam
    User.find_by(id: tubecam.user_id)
  end

  def generate_description t
    s = StringIO.new
    s << t.serialnumber
    s << " ("
    s << @t_owner.firstname
    s << " "
    s << @t_owner.lastname
    s << ") "
    s << "Fotos: "
    s.string
  end
%>

<form action="<%= media_path %>" method="get">
  <div class='input-group col-md-2'>
    <select id='tubecam_device_id' name='tubecam_device_id' class="form-control" size='1' required>
      <option id='tubecam_device_id_0' value=" "> </option>
      <% TubecamDevice.where(active: true).each do |t| %>
          <% selected_string = ''
             if params[:tubecam_device_id] == t.id.to_s
               selected_string = ' selected="selected" '
             end
          @t_owner = tubecam_owner t
          %>
          <option id='tubecam_device_id_id' <%= selected_string %> value=<%= t.id %>><%= generate_description t %></option>
      <% end %>
    </select>
  </div>

  <div class='input-group date col-md-2' id='datetimepicker-start-icon'>
    <input type='text' name='date_start' class="form-control" id='datetimepicker-start-input' />
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar"></span>
    </span>
  </div>

  <div class='input-group date col-md-2' id='datetimepicker-end-icon'>
    <input type='text' name='date_end' class='form-control' id='datetimepicker-end-input' />
    <span class='input-group-addon'>
        <span class='glyphicon glyphicon-calendar'></span>
      </span>
  </div>

    <%= submit_tag 'Suchen', name: nil %>
</form>




<script type="text/javascript">
    $(function () {
        $('#datetimepicker-start-input').datetimepicker({
            format: 'DD.MM.YYYY'
        });
        $('#datetimepicker-start-icon').datetimepicker({
            format: 'DD.MM.YYYY'
        });
        $('#datetimepicker-end-input').datetimepicker({
            format: 'DD.MM.YYYY'
        });
        $('#datetimepicker-end-icon').datetimepicker({
            format: 'DD.MM.YYYY'
        });
    });
</script>