<%= form_for(medium) do |f| %>
  <% if medium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(medium.errors.count, "error") %> prohibited this medium from being saved:</h2>

      <ul>
      <% medium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :path %>
    <%= f.text_field :path %>
  </div>

  <div class="field">
    <%= f.label :filename %>
    <%= f.text_field :filename %>
  </div>

  <div class="field">
    <%= f.label :mediatype %>
    <%= f.text_field :mediatype %>
  </div>

  <div class="field">
    <%= f.label :datetime %>
    <%= f.datetime_select :datetime %>
  </div>

  <div class="field">
    <%= f.label :longitude %>
    <%= f.text_field :longitude %>
  </div>

  <div class="field">
    <%= f.label :latitude %>
    <%= f.text_field :latitude %>
  </div>

  <div class="field">
    <%= f.label :sequence %>
    <%= f.text_field :sequence %>
  </div>

  <div class="field">
    <%= f.label :frame %>
    <%= f.number_field :frame %>
  </div>

  <div class="field">
    <%= f.label :tubecam_device_id %>
    <%= f.text_field :tubecam_device_id %>
  </div>

  <div class="field">
    <%= f.label :exifdata %>
    <%= f.text_field :exifdata %>
  </div>

  <div class="field">
    <%= f.label :deleted %>
    <%= f.check_box :deleted %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
