<h1>Galerie</h1>

<%= render 'filter' %>

<% if @media.empty? %>
    <h3>Keine Medien gefunden.</h3>
<% else %>

  <%= will_paginate @media %>

 <div class="gallery">
   <% @media.each do |medium| %>
       <% medium = Coordinates.wgs_to_ch(medium) %>
    <div class="item">
      <%= link_to image_tag(@cloud_resource_thumbnail_url + medium.filename_hash), medium %>
      <p class="item-date"><%= medium.datetime.strftime("%d.%m.%Y %H:%M:%S") %></p>
      <!--<p class="item-delete"><a href="#">X</a></p>-->
      <div class="item-actions">
        <ul>
          <li><%= link_to 'Annotieren', annotations_new_path, :id => medium.id %></li>
          <li><%= link_to 'Tubecam', tubecam_device_path(medium.tubecam_device_id) %></li>
          <li><%= link_to 'Karte', maps_path(:longitude => medium.longitude, :latitude => medium.latitude) %></li>
        </ul>
      </div>
    </div>
  <% end %>
 </div>

  <%= will_paginate @media %>

<% end %>
