<% @page_title=t '.title' %>
<h1><%= t '.title' %></h1>

<%= render 'filter' %>

<% if @media.empty? %>
    <h3><%= t '.no_media' %></h3>
<% else %>

  <%= will_paginate @media %>

 <div class="gallery">
   <% @media.each do |medium| %>
       <% medium = Coordinates.wgs_to_ch(medium) %>
    <div class="item">
      <%= link_to image_tag(@cloud_resource_thumbnail_url + medium.filename_hash), medium %>
      <p class="item-date"><%= medium.datetime.strftime("%d.%m.%Y %H:%M:%S") %></p>
      <!--<p class="item-delete"><a href="#">X</a></p>-->
      <div class="item-actions">
        <ul>
          <% if user_signed_in? %>
            <li><%= link_to (t 'link_to.annotate'), controller: 'annotations', action: 'specific', :id => medium.id %></li>
          <% end %>
          <li><%= link_to (t 'link_to.tubecam'), tubecam_device_path(medium.tubecam_device_id) %></li>
          <li><%= link_to (t 'link_to.location'), maps_path(:longitude => medium.longitude, :latitude => medium.latitude) %></li>
        </ul>
      </div>
    </div>
  <% end %>
 </div>

  <%= will_paginate @media %>

<% end %>
