<p>
  <strong>Image:</strong>
  <%= image_tag(@cloud_resource_image_url + @medium.filename_hash) %>
</p>

<p>
  <strong>Original Path:</strong>
  <%= @medium.original_path %>
</p>

<p>
  <strong>Original Filename:</strong>
  <%= @medium.original_filename %>
</p>

<p>
  <strong>Hashed Filename:</strong>
  <%= @medium.filename_hash%>
</p>

<p>
  <strong>Mediatype:</strong>
  <%= @medium.mediatype %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @medium.datetime %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @medium.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @medium.latitude %>
</p>

<p>
  <strong>Sequence:</strong>
  <%= @medium.sequence %>
</p>

<p>
  <strong>Frame:</strong>
  <%= @medium.frame %>
</p>

<p>
  <strong>Tubecam Device ID:</strong>
  <%= @medium.tubecam_device_id %>
</p>

<p>
  <strong>Exifdata:</strong>
  <%= @medium.exifdata %>
</p>

<p>
  <strong>Deleted:</strong>
  <%= @medium.deleted %>
</p>

<%= link_to 'Edit', edit_medium_path(@medium) %> |
<%= link_to 'Back', media_path %>
