<%
  grouped_options = [
      ['North America',
       [['United States','US'],'Canada']],
      ['Europe',
       ['Denmark','Germany','France']]
  ]
  grouped_options_for_select(grouped_options)

  grouped_options = {
      'North America' => [['United States','US'], 'Canada'],
      'Europe' => ['Denmark','Germany','France']
  } %>


<h1>Annotate</h1>
<p>
  <%= link_to 'Back', media_path %>
</p>
<p>
<table>
  <tr>
    <td>
      <%= image_tag(@cloud_resource_image_url + @medium.filename_hash, size: '612x459') %>
    </td>
    <td>
      <%= form_for @medium_annotation, url: {action: 'create'} do |f| %>
        <%= f.hidden_field :user_id, value: @user.id %>
        <%= f.hidden_field :medium_id, value: @medium.id %>
        <%= f.label :medium_annotation, value: 'Annotation' %>
        <select id='annotations_select' name='medium_annotation[annotations_lookup_table_id]' size='1' required, >
            <% @annotations_lookup_table.each do |annotations_lookup_table_id| %>
              <% selected_string = ''
                if @medium_annotation.annotations_lookup_table_id == annotations_lookup_table_id.id
                  selected_string = ' selected="selected" '
                end
              %>
              <% disabled_string = ''
                 if !annotations_lookup_table_id.selectable?
                   disabled_string = ' disabled="disabled" '
                 end
              %>


              <option id='' <%= selected_string %> <%= disabled_string %> value='<%= annotations_lookup_table_id.id %>'>
                <% if !annotations_lookup_table_id.family.nil? && !annotations_lookup_table_id.genus.nil?
                     displayed_tag = annotations_lookup_table_id.name
                   end
                  if !annotations_lookup_table_id.genus.nil? && annotations_lookup_table_id.name.nil?
                    displayed_tag = annotations_lookup_table_id.genus
                  end
                  if !annotations_lookup_table_id.family.nil? && annotations_lookup_table_id.name.nil?
                    displayed_tag = annotations_lookup_table_id.family
                  end
                %>
                <%= displayed_tag %></option>
            <% end %>
          <%= grouped_options_for_select(grouped_options) %>
          </select><br/><br/>
          <div class="actions">
            <%= f.submit %>
          </div>
      <% end %>
    </td>
  </tr>
</table>



