
<table>
  <tr>
    <td>
      <%= image_tag(@cloud_resource_image_url + @medium.filename_hash, size: '612x459') %>
    </td>
    <td>
      <%= form_for @medium_annotation, url: {action: 'create'} do |f| %>
        <%= f.hidden_field :user_id, value: @user.id %>
        <%= f.hidden_field :medium_id, value: @medium.id %>

        <select id='annotations_select' class="selectpicker form-control" name='medium_annotation[annotations_lookup_table_id]' size='20'  required >
            <% @annotations_lookup_table.each do |annotations_lookup_table_id| %>
              <% selected_string = ''
                if @medium_annotation.annotations_lookup_table_id == annotations_lookup_table_id.id
                  selected_string = ' selected="selected" '
                end
              %>
              <% disabled_string = ''
                 if !annotations_lookup_table_id.selectable?
                   disabled_string = ' disabled="disabled" '
                 end
              %>

              <% if !annotations_lookup_table_id.family.nil? && !annotations_lookup_table_id.genus.nil?
                   displayed_tag = annotations_lookup_table_id.name + " (" + annotations_lookup_table_id.genus + " " + annotations_lookup_table_id.species + ")"
                   class_tag = "annotations-level-2"
                   space = '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'.html_safe
                 end
                if !annotations_lookup_table_id.genus.nil? && annotations_lookup_table_id.name.nil?
                  displayed_tag = annotations_lookup_table_id.genus
                  class_tag = "annotations-level-1"
                  space = '&nbsp;&nbsp;&nbsp;'.html_safe
                end
                if !annotations_lookup_table_id.family.nil? && annotations_lookup_table_id.name.nil?
                  displayed_tag = annotations_lookup_table_id.family
                  class_tag = "annotations-level-0".html_safe
                  space = ''
                end
              %>

              <option <%= selected_string %> <%= disabled_string %> class=<%= class_tag %> value='<%= annotations_lookup_table_id.id %>'><%= space %>
                <%= displayed_tag %></option>
            <% end %>
          </select>
          <div class="actions text-right">
            <%= f.submit 'Speichern', class: 'btn btn-success' %>
          </div>
      <% end %>
    </td>
  </tr>
</table>



