<h1>Annotate</h1>
<p>
  <%= link_to 'Back', media_path, class: 'btn btn-info' %>
</p>
<p>
<table>
  <tr>
    <td>
      <%= image_tag(@cloud_resource_image_url + @medium.filename_hash, size: '612x459') %>
    </td>
    <td>
      <%= form_for @medium_annotation, url: {action: 'create'} do |f| %>
        <%= f.hidden_field :user_id, value: @user.id %>
        <%= f.hidden_field :medium_id, value: @medium.id %>
        <%= f.label :medium_annotation, value: 'Annotation' %>
        <select id='annotations_select' name='medium_annotation[annotations_lookup_table_id]' size='1' required, >
            <% @annotations_lookup_table.each do |annotations_lookup_table_id| %>
              <% selected_string = ''
                if @medium_annotation.annotations_lookup_table_id == annotations_lookup_table_id.id
                  selected_string = ' selected="selected" '
                end
              %>
              <% disabled_string = ''
                 if !annotations_lookup_table_id.selectable?
                   disabled_string = ' disabled="disabled" '
                 end
              %>

              <% if !annotations_lookup_table_id.family.nil? && !annotations_lookup_table_id.genus.nil?
                   displayed_tag = annotations_lookup_table_id.name + " (" + annotations_lookup_table_id.genus + " " + annotations_lookup_table_id.species + ")"
                   class_tag = "annotations-level-2"
                 end
                if !annotations_lookup_table_id.genus.nil? && annotations_lookup_table_id.name.nil?
                  displayed_tag = annotations_lookup_table_id.genus
                  class_tag = "annotations-level-1"
                end
                if !annotations_lookup_table_id.family.nil? && annotations_lookup_table_id.name.nil?
                  displayed_tag = annotations_lookup_table_id.family
                  class_tag = "annotations-level-0"
                end
              %>

              <option id='' <%= selected_string %> <%= disabled_string %> class=<%= class_tag %> value='<%= annotations_lookup_table_id.id %>'>
                <%= displayed_tag %></option>
            <% end %>
          </select><br/><br/>
          <div class="actions">
            <%= f.submit %>
          </div>
      <% end %>
    </td>
  </tr>
</table>



