<li><%= link_to 'Standorte', maps_path %></li>


<li><%= link_to 'Galerie', sequences_path %></li>


<% if user_signed_in? %>
    <li><%= link_to 'Annotieren', new_annotation_path %></li>
<% end %>

<% if user_signed_in? && current_user.trapper_role? && !current_user.admin_role?%>
    <li><%= link_to 'TubeCams', tubecam_devices_path %></li>
<% end %>

<% if user_signed_in? && current_user.admin_role? %>
    <li>
      <a href="<%= dashboard_url %>" data-toggle="dropdown">Dashboard <b class="caret"></b></a>
      <ul class="dropdown-menu multi-level">
        <li><a href="<%= dashboard_url %>">Übersicht</a></li>
        <li class="divider"></li>
        <li><a href="<%= users_url %>">Benutzer</a></li>
        <li><a href="<%= tubecam_devices_url %>">TubeCams</a></li>
      </ul>
    </li>
<% end %>



<li><%= link_to 'Projekt', project_path %></li>


<li><%= link_to 'Kontakt', contact_path %></li>