<% if user_signed_in? %>
    <% if user_signed_in? && current_user.admin_role? %>
        <li>
          <a href="<%= dashboard_url %>" data-toggle="dropdown"><%= (t 'layouts.navigations.title') %><b class="caret"></b></a>
          <ul class="dropdown-menu multi-level">
            <li><% link_to (t 'layouts.application') %></li>
            <li><a href="<%= dashboard_url %>"><%= t 'link_to.overview' %></a></li>
            <li class="divider"></li>
            <li><a href="<%= users_url %>"><%= t 'link_to.users' %></a></li>
            <li><a href="<%= tubecam_devices_url %>"><%= t 'link_to.tubecam_devices' %></a></li>
          </ul>
        </li>
    <% end %>
    <li><%= link_to current_user.username, edit_user_registration_path %></li>
    <li><%= link_to '<em class="fa fa-sign-out fa-lg" aria-hidden="true"></em>'.html_safe, destroy_user_session_path, :method=>'delete' %></li>
<% else %>
    <li><%= link_to 'Anmelden <em class="fa fa-sign-in fa-lg" aria-hidden="true"></em>'.html_safe, new_user_session_path %></li>
<% end %>

