<li><%= link_to (t 'link_to.locations'), maps_path %></li>


<li><%= link_to (t 'link_to.gallery'), sequences_path %></li>


<% if user_signed_in? %>
    <li><%= link_to (t 'link_to.annotate'), new_annotation_path %></li>
<% end %>

<% if user_signed_in? && current_user.trapper_role? && !current_user.admin_role?%>
    <li><%= link_to (t 'link_to.tubecams'), tubecam_devices_path %></li>
<% end %>


<li>
  <% if user_signed_in? %>
      <a href="<%= dashboard_url %>" data-toggle="dropdown"><%= t 'link_to.project' %><b class="caret"></b></a>
      <ul class="dropdown-menu multi-level">
        <% if current_user.admin_role? %>
          <li><a href="<%= exports_path(format: :csv) %>"><%= t 'exports.index.title' %></a></li>
        <% end %>
        <li><a href="<%= annotations_path %>"><%= t 'annotations.index.title' %></a></li>
        <li><a href="<%= project_path %>"><%= t 'pages.project.title' %></a></li>
        <li><a href="<%= contact_path %>"><%= t 'pages.contact.title' %></a></li>
      </ul>
  <% else %>
      <%= link_to (t 'link_to.project'), project_path %>
      </li>
      <li><%= link_to (t 'pages.contact.title'), contact_path %>
  <% end %>
</li>


