<% @page_title=t '.title' %>
<h1><%= t '.title' %></h1>

<%= render 'filter' %>

<% if @sequences.empty? %>
    <h3><%= t '.no_media' %></h3>
<% else %>

    <%= will_paginate @sequences %>

    <div class="gallery">
      <% @sequences.each do |sequence| %>
          <% wgs_long = sequence.media.first.longitude
             wgs_lat  = sequence.media.first.latitude
             longitude = Coordinates.wgs_to_ch_y(wgs_long, wgs_lat)
             latitude = Coordinates.wgs_to_ch_x(wgs_long, wgs_lat) %>


          <div class="sequence-description">
              <% if !Annotation.where(sequence_id: sequence).where.not(verified_id: nil).empty? %>
                <span class="emoji-icon">🎖</span> |
              <% elsif !Annotation.where(sequence_id: sequence).empty? %>
                <span class="emoji-icon">✍️</span> |
              <% end %>
              <%= link_to (t 'activerecord.models.tubecam_device') + ' ' + sequence.tubecam_device.serialnumber, tubecam_device_path(sequence.tubecam_device_id) %>
            | <%= link_to (t 'link_to.sequence') + ' ' + sequence.sequence_no.to_s, sequence_path(sequence.id) %>
            | <% if user_signed_in? %>
                <%= link_to (t 'link_to.annotate'), controller: 'annotations', action: 'specific', :id => sequence.media.first.id %>
              <% end %>
            | <%= link_to (t 'link_to.location'), maps_path(:longitude => longitude, :latitude => latitude) %>
            | <%= sequence.media[0].datetime.strftime("%d.%m.%Y %H:%M:%S") %> Uhr
          </div>
          <div class="sequence">
            <% @media = Medium.where(sequence_id: sequence.id).order('frame ASC').limit(5) %>
            <% @media.each do |medium| %>
                <% medium = Coordinates.wgs_to_ch(medium) %>
                <div class="item">
                  <%= link_to image_tag(@cloud_resource_thumbnail_url + medium.filename_hash), sequence %>
                  <div class="item-actions">
                    <ul>


                    </ul>
                  </div>
                </div>
            <% end %>
          </div>
      <% end %>
    </div>

    <%= will_paginate @sequences %>

<% end %>