<h1>Galerie</h1>

<%= render 'filter' %>

<% if @sequences.empty? %>
    <h3>Keine Medien gefunden.</h3>
<% else %>

    <%= will_paginate @sequences %>

    <div class="gallery">
      <% @sequences.each do |sequence| %>

          <div class="sequence-description">
            <%= link_to sequence.tubecam_device.serialnumber, tubecam_device_path(sequence.tubecam_device_id) %>
            | <%= link_to 'Sequenz ' + sequence.sequence_no.to_s, sequence_path(sequence.id) %>
            | <%= sequence.media[0].datetime.strftime("%d.%m.%Y %H:%M:%S") %> Uhr
          </div>
          <div class="sequence">
            <% @media = Medium.where(sequence_id: sequence.id).order('frame ASC').limit(5) %>
            <% @media.each do |medium| %>
                <% medium = Coordinates.wgs_to_ch(medium) %>
                <div class="item">
                  <%= link_to image_tag(@cloud_resource_thumbnail_url + medium.filename_hash), sequence %>
                  <div class="item-actions">
                    <ul>
                      <% if user_signed_in? %>
                          <li><%= link_to 'Annotieren', controller: 'annotations', action: 'specific', :id => medium.id %></li>
                      <% end %>
                      <li><%= link_to 'Karte', maps_path(:longitude => medium.longitude, :latitude => medium.latitude) %></li>
                    </ul>
                  </div>
                </div>
            <% end %>
          </div>
      <% end %>
    </div>

    <%= will_paginate @sequences %>

<% end %>