<h1>Sequenz: <%= @sequence.sequence_no.to_s %></h1>

<div class="medium-detail">
  <div class="image-description">
    <table class="table table-striped table-sm table-responsive table-hover" style="max-width: 400px;">
      <tr>
        <td><b>Aufnahmedatum:</b></td>
        <td><%= @medium.datetime.strftime("%d.%m.%Y %H:%M:%S") %></td>
      </tr>
      <tr>
        <td><b>Koordinate:</b></td>
        <td><%= @medium.longitude %>, <%= @medium.latitude %></td>
      </tr>
      <tr>
        <td><b>Medientyp:</b></td>
        <td> <%= @medium.mediatype %></td>
      </tr>
      <tr>
        <td><b>Frames:</b></td>
        <td> <%= @medium.frame %></td>
      </tr>
    </table>
  </div>
  <div class="image-links">
    <%= link_to 'Tubecam ' + @tubecam_device.serialnumber, tubecam_device_path(@sequence.tubecam_device_id), class: 'btn btn-primary' %>
    <%= link_to 'Standort auf Karte anzeigen', maps_path(:longitude => @medium.longitude, :latitude => @medium.latitude), class: 'btn btn-primary' %>
    <% if !@annotations.empty? %>
        <%= link_to 'Annotieren', new_annotation_path, :id => @medium.id, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>


<div class="gallery">
  <div class="sequence">
    <% @sequence.media.each do |medium| %>
        <% medium = Coordinates.wgs_to_ch(medium) %>
        <div class="item">
          <a href="<%= @cloud_resource_image_url + medium.filename_hash %>" data-lightbox="<%= @sequence.sequence_no %>">
          <%= image_tag(@cloud_resource_thumbnail_url + medium.filename_hash) %>
        </a>
        </div>
    <% end %>
  </div>
</div>
</div>

<div class="medium-detail">
  <div class="image-links">
  <% if @annotations.empty? %>
        <h4>Es wurde noch keine Annotation getätigt.</h4>
        <%= link_to 'Erste Annotation erstellen', new_annotation_path, :id => @sequence.id, class: 'btn btn-primary' %>
  <% else %>
    <table class="table table-striped table-sm table-responsive table-hover">
      <thead>
      <tr>
        <th>Lookup-Index</th>
        <th>Name</th>
        <th>Familie</th>
        <th>Art</th>
        <th>Spezies</th>
        <th>Datum</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @annotations.each do |annotation| %>
        <% lookup_id = annotation.annotations_lookup_table_id %>
          <tr>
            <td><%= @annotations_lookup_table[lookup_id].annotation_id %></td>
            <td><%= @annotations_lookup_table[lookup_id].name %></td>
            <td><%= @annotations_lookup_table[lookup_id].family %></td>
            <td><%= @annotations_lookup_table[lookup_id].genus %></td>
            <td><%= @annotations_lookup_table[lookup_id].species %></td>
            <td><%= annotation.created_at.strftime("%d.%m.%Y %H:%M:%S") %></td>
            <% if current_user.id == annotation.user_id %>
              <td><%= link_to 'Löschen', @medium, method: :delete, data: { confirm: 'Soll die Annotation wirklich unwiederruflich gelöscht werden?' } %></td>
            <% end %>
            <% if current_user.verified_spotter_role? %>
                <% if !annotation.verified_id.nil? %>
                    <td><%= link_to 'Annotation abschliessen' %></td>
                <% else %>
                    <td><%= link_to 'Annotation aufheben' %></td>
                <% end %>
            <% end %>
          </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
  </div>
</div>



<div>
  <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-6.jpg" data-lightbox="example-set" data-title="Click anywhere outside the image or the X to the right to close."><img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-6.jpg" alt=""></a>
</div>