<% @page_title=t '.title', number: @sequence.sequence_no.to_s %>
<h1><%= (t 'activerecord.models.sequence') + ' ' + @sequence.sequence_no.to_s %></h1>

<% longitude = @sequence.longitude
   latitude  = @sequence.latitude
   location_text = (t 'link_to.location')
       if !user_signed_in?
     fake_coordinates = Coordinates.fake_coordinates(@sequence.longitude, @sequence.latitude)
     longitude = fake_coordinates['longitude'].truncate
     latitude  = fake_coordinates['latitude'].truncate
     location_text = (t 'link_to.fake_location')
   end %>

<div class="medium-detail">
  <div class="image-description">
    <table class="table table-striped table-sm table-responsive table-hover" style="max-width: 400px;">
      <tr>
        <td><b><%= t 'activerecord.attributes.medium.datetime' %></b></td>
        <td><%= @sequence.datetime.strftime("%d.%m.%Y %H:%M:%S") %></td>
      </tr>
      <% if user_signed_in? %>
      <tr>
        <td><b><%= t '.coordinates' %></b></td>
        <td><%= longitude %>, <%= latitude %></td>
      </tr>
      <% end %>
      <tr>
        <td><b><%= t 'activerecord.attributes.medium.mediatype' %></b></td>
        <td> <%= @sequence.media.first.mediatype %></td>
      </tr>
      <tr>
        <td><b><%= t '.frames' %></b></td>
        <td> <%= @sequence.media.count %></td>
      </tr>
    </table>
  </div>
  <div class="image-links">
    <%= link_to (t 'link_to.tubecam') + ' ' + @tubecam_device.serialnumber, tubecam_device_path(@sequence.tubecam_device_id), class: 'btn btn-primary' %>
    <%= link_to location_text, maps_path(:longitude => longitude, :latitude => latitude), class: 'btn btn-primary' %>
    <% if user_signed_in? && !@annotations.empty? && !@annotations.find_by(user_id: current_user.id) %>
        <%= link_to (t 'link_to.annotate'), {controller: 'annotations', action: 'specific', :id => @sequence.id}, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>


<div class="gallery">
    <%= will_paginate @media %>
  <div class="sequence">
    <% @media.order(frame: :asc).each do |medium| %>
        <div class="item">
          <a href="<%= @image_url + medium.filename_hash %>" data-imagelightbox="f">
            <%= image_tag(@thumbnail_url + medium.filename_hash) %>
          </a>
        </div>
    <% end %>
  </div>
</div>
</div>

<div class="medium-detail">
  <div class="image-links">
    <% if @annotations.empty? %>
        <h4><%= t '.no_annotations' %></h4>
        <%= link_to (t 'link_to.annotate'), {controller: 'annotations', action: 'specific', :id => @media.first.id}, class: 'btn btn-primary' %>
    <% else %>
        <table class="table table-striped table-sm table-responsive table-hover">
          <thead>
          <tr>
            <th><%= t 'activerecord.attributes.annotations_lookup_table.name' %></th>
            <th><%= t 'activerecord.attributes.annotations_lookup_table.genus' %></th>
            <th><%= t 'activerecord.attributes.annotations_lookup_table.species' %></th>
            <th><%= t 'activerecord.attributes.annotations_lookup_table.family' %></th>
            <th><%= t 'activerecord.attributes.annotations_lookup_table.annotation_id' %></th>
            <th><%= t 'activerecord.attributes.annotations_lookup_table.created_at' %></th>
            <th><%= t 'activerecord.attributes.user.username' %></th>
            <th><%= t '.verified' %></th>
            <% if user_signed_in? && current_user.verified_spotter_role? %>
                <th><%= t '.verification' %></th>
            <% end %>
            <th colspan="3"></th>
          </tr>
          </thead>

          <tbody>
          <% @annotations.each do |annotation| %>
              <% lookup_id = annotation.annotations_lookup_table_id - 1 %>
              <tr>
                <td><%= @annotations_lookup_table[lookup_id].name %></td>
                <td><%= @annotations_lookup_table[lookup_id].genus %></td>
                <td><%= @annotations_lookup_table[lookup_id].species %></td>
                <td><%= @annotations_lookup_table[lookup_id].family %></td>
                <td><%= @annotations_lookup_table[lookup_id].annotation_id %></td>
                <td><%= annotation.created_at.strftime("%d.%m.%Y %H:%M:%S") %></td>
                <td><%= annotation.user.username %></td>

                <% if annotation.verified_id.nil? %>
                    <td>-</td>
                    <% if !@annotations.where.not(verified_id: nil).empty? %>
                        <td>-</td>
                    <% else %>
                        <% if user_signed_in? && current_user.verified_spotter_role? %>
                            <td><%= link_to (t '.verify'), verify_annotation_path(annotation_id: annotation.id) %></td>
                        <% end %>
                    <% end %>
                <% else %>
                    <td><span class="fa-lg"  title="<%= (t 'general.alt_text_verified_icon') %>">🎖</span></td>
                    <% if user_signed_in? && current_user.verified_spotter_role? %>
                        <td><%= link_to (t '.unverify'), unverify_annotation_path(annotation_id: annotation.id) %></td>
                    <% end %>
                <% end %>

                <% if user_signed_in? && (current_user.id == annotation.user_id || current_user.admin_role? )%>
                    <td><%= link_to (t 'action.destroy'), :controller => 'annotations', :action => 'destroy', :id => annotation.id, :sequence_id => annotation.sequence.id %></td>
                <% else %>
                    <td></td>
                <% end %>

              </tr>
          <% end %>
          </tbody>
        </table>
    <% end %>
  </div>
</div>




<%= javascript_include_tag 'imagelightbox.min' %>
<%= javascript_include_tag 'custom_imagelightbox' %>