<% @page_title = t '.title' %>

<h2><%= t '.title' %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <div class="field">
        <%= f.label :email %><br/>
        <%= f.email_field :email, autofocus: true %>
      </div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div><%= t '.waiting_confirmation', email: resource.unconfirmed_email %></div>
    <% end %>


    <div class="form-group">
      <div class="field">
        <%= f.label :username, class: "short-label"  %><br/>
        <%= f.text_field :username%>
      </div>
    </div>

    <div class="form-group">
      <div class="field">
        <%= f.label :firstname, class: "short-label"  %><br/>
        <%= f.text_field :firstname%>
      </div>
    </div>

    <div class="form-group">
      <div class="field">
        <%= f.label :lastname, class: "short-label"  %><br/>
        <%= f.text_field :lastname%>
      </div>
    </div>

    <div class="form-group ">
      <div class="form-inline">
        <div class="form-group ">
          <div class="field">
            <%= f.label :password, class: "short-label" %> <em class="text-primary"><%= t '.notice' %></em><br/>
            <%= f.password_field :password, autocomplete: "off" %>
            <% if @minimum_password_length %>
                <small id="emailHelp" class="form-text text-muted"><%= t '.password_length', length: @minimum_password_length %>
                </small>
            <% end %>
          </div>
        </div>

        <div class="form-group">
          <div class="field">
            <%= f.label :password_confirmation %><br/>
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>
        </div>
      </div>
    </div>


    <br />
    <br />

    <div class="form-inline">
      <div class="form-group">
        <div class="field">
          <%= f.label :current_password, class: "short-label" %>
          <span class="text-success"><%= t '.instruction' %></span><br/>
          <%= f.password_field :current_password, autocomplete: "off" %>


          <%= f.submit (t 'action.save'), class: 'btn btn-success' %>

        </div>
      </div>

    </div>

<% end %>
