<h2>Registrieren</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :username %>
      <%= f.text_field :username %><br />
      <em>(ist für andere Benutzer ersichtlich)</em>
    </div>


    <div class="field">
      <%= f.label :firstname %>
      <%= f.text_field :firstname %>
    </div>

    <div class="field">
      <%= f.label :lastname %>
      <%= f.text_field :lastname %>
    </div>

    <div class="form-group">
    <div class="form-inline">
    <div class="form-group">
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off" %><br />
      <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
    </div>
    </div>

      <div class="form-group">
    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off" %><br />
      <em>&nbsp;</em>
    </div>
    </div>
    </div>
    </div>

    <br />

    <div class="actions">
      <%= f.submit 'Registrieren', class: 'btn btn-primary' %>
    </div>
<% end %>

<%= render "users/shared/links" %>
